@import "../utils/variables.scss";
@import "../utils/mixins.scss";

body {
    min-width: 320px;
    margin: 0;
    font-family: "roboto", sans-serif;
}

.main {

    &__photo {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &__restaurants {
        background-color: whitesmoke;
        border-radius: 40px 40px 0px 0px;
        position: relative;
        bottom: 40px;
        margin-bottom: -40px;
        padding: 30px 10px 40px 10px;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__restaurants {
            width: 70%;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;

    &__icon {
        color: black;
        padding-left: 8px;
    }

    &__imgContent {
        width: 90%;
        text-align: center;
    }

    &__logo {
        width: 150px;
        margin-top: 10px;
    }
}

.restaurant {
    width: 90%;
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &__cards {
        margin-bottom: 40px;
    }

    &__title {
        margin: 0;
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-size: 25px;
    }

    &__plats {
        font-weight: 200;
        font-size: 13px;
    }

    &__plats--border {
        padding-bottom: 5px;
        border-bottom: 3px solid $third-color;
    }

    &__btn {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40px;
        padding: 9px;
        margin-top: 20px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 5px 5px lightgray;
    }

    &__btnTitle {
        margin: 0;
        font-size: 15px;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }

    &__price p {
        margin: 0;
    }

    @media (min-width: 768px) {
        justify-content: center;
        gap: 30px;

        &__cards {
            padding-left: 100px;
            padding-right: 100px;
        }
    }
}

.fa-heart {
    font-size: 20px;
}

/*hero-header*/

.hero-header {

    &__btnContent {
        display: flex;
        justify-content: center;
    }

    &__btn {
        @include button;
    }
}

/*footer*/
.footer {
    background-color: $footer-color;
    padding: 15px 10px 15px 25px;

    &__logo {
        width: 40%;
        color: white;
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    &__links {
        margin: 0;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__link {
        text-decoration: none;
        color: white;

    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        font-size: 12px;

        &__logo {
            width: 20%;
            margin-left: 60px;
        }

        &__links {
            flex-direction: row;
        }

        &__space {
            margin-left: 20px;
        }
    }
}

.fa-utensils,
.fa-handshake {
    margin-right: 10px;
}