body {
  min-width: 320px;
  margin: 0;
  font-family: "roboto", sans-serif;
}

.main__photo {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__restaurants {
  background-color: whitesmoke;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  bottom: 40px;
  margin-bottom: -40px;
  padding: 30px 10px 40px 10px;
}
@media (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main__restaurants {
    width: 70%;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
}
.header__icon {
  color: black;
  padding-left: 8px;
}
.header__imgContent {
  width: 90%;
  text-align: center;
}
.header__logo {
  width: 150px;
  margin-top: 10px;
}

.restaurant {
  width: 90%;
  border-radius: 20px 20px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.restaurant::after {
  font: var(--fa-font-regular);
  content: "\f004";
  cursor: pointer;
  font-size: 25px;
}
.restaurant:active::after {
  font: var(--fa-font-solid);
  content: "\f004";
  font-size: 25px;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356DC, #FF79DA);
}
.restaurant__view--1 {
  animation: view-1 1000ms;
}
.restaurant__view--2 {
  animation: view-2 1800ms;
}
.restaurant__view--3 {
  animation: view-3 2600ms;
}
.restaurant__cards {
  margin-bottom: 40px;
}
.restaurant__title {
  margin: 0;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-size: 25px;
}
.restaurant__plats {
  font-weight: 200;
  font-size: 13px;
}
.restaurant__plats--border {
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}
.restaurant__btn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40px;
  padding: 9px;
  margin-top: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 5px lightgray;
}
.restaurant__btnTitle {
  margin: 0;
  font-size: 15px;
  font-family: "roboto", sans-serif;
}
.restaurant__price {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.restaurant__price p {
  margin: 0;
  font-family: "roboto", sans-serif;
}
.restaurant__price--left {
  position: relative;
  right: 0px;
}
.restaurant__validate {
  font-family: "FontAwesome";
  width: 0px;
  height: 100%;
  background-color: #99E2D0;
  position: absolute;
  right: 0;
  left: 1;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
}
.restaurant__validate::before {
  content: "\f00c";
  opacity: 0;
  color: #99E2D0;
  background-color: white;
  padding: 1px 3px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .restaurant {
    justify-content: center;
    gap: 30px;
  }
  .restaurant__cards {
    padding-left: 100px;
    padding-right: 100px;
  }
}

/*hero-header*/
.hero-header__btnContent {
  display: flex;
  justify-content: center;
}
.hero-header__btn {
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 5px 5px lightgray;
  color: white;
  border-radius: 30px;
  padding: 15px;
  filter: brightness(1);
  transition: all 500ms;
}
.hero-header__btn:hover {
  filter: brightness(1.15);
  box-shadow: 0px 5px 10px #a0a0a0;
}

/*footer*/
.footer {
  background-color: #353535;
  padding: 15px 10px 15px 25px;
}
.footer__logo {
  width: 40%;
  color: white;
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.footer__links {
  margin: 0;
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__link {
  text-decoration: none;
  color: white;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 12px;
  }
  .footer__logo {
    width: 20%;
    margin-left: 60px;
  }
  .footer__links {
    flex-direction: row;
  }
  .footer__space {
    margin-left: 20px;
  }
}

.fa-utensils,
.fa-handshake {
  margin-right: 10px;
}

@keyframes view-1 {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes view-2 {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes view-3 {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
  }
}/*# sourceMappingURL=restaurants.css.map */