@import "../utils/variables.scss";
@import "../utils/mixins.scss";

body {
    margin: 0;
    font-family: "roboto", sans-serif;
}

.main {

    &__photo {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &__restaurants {
        background-color: whitesmoke;
        border-radius: 40px 40px 0px 0px;
        position: relative;
        bottom: 40px;
        margin-bottom: -40px;
        padding: 30px 10px 40px 10px;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__restaurants {
            width: 70%;
        }
    }
}

.header {
    display: flex;
    align-items: center;
    padding: 10px;

    &__icon {
        color: black;
        padding-left: 8px;
    }

    &__imgContent {
        width: 90%;
        text-align: center;
    }

    &__logo {
        width: 150px;
        margin-top: 10px;
    }
}

.restaurant {
    border-radius: 20px 20px 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px 5px 5px;


    &__heart::after {
        display: inline-block;
        font: var(--fa-font-regular);
        content: "\f004";
        cursor: pointer;
        font-size: 25px;
    }

    &__heart:hover::after {
        font: var(--fa-font-solid);
        content: "\f004";
        font-size: 25px;
        color: transparent;
        background-clip: text;
        background-image: linear-gradient($main-color, $second-color);
    }

    &__content {
        width: 99%;
    }

    &__view--1 {
        animation: view-1 1000ms;
    }

    &__view--2 {
        animation: view-2 1800ms;
    }

    &__view--3 {
        animation: view-3 2600ms;
    }

    &__cards {
        margin-bottom: 40px;
    }

    &__title {
        margin: 0;
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-size: 23px;
    }

    &__plats {
        font-weight: 200;
        font-size: 13px;
    }

    &__plats--border {
        padding-bottom: 5px;
        border-bottom: 3px solid $third-color;
    }

    &__btn {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 40px;
        padding: 9px;
        margin-top: 20px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 5px 5px lightgray;
        transition: all 500ms;
    }

    &__btn:hover {
        .restaurant__price--left {
            right: 50px;
        }

        .restaurant__validate {
            width: 50px;
        }

        .restaurant__validate::before {
            opacity: 1;
        }

        .restaurant__overflow {
            width: 72%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    &__btnTitle {
        margin: 0;
        font-size: 15px;
        font-family: "roboto", sans-serif;
    }

    &__price {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }

    &__price p {
        margin: 0;
        font-family: "roboto", sans-serif;
        position: relative;

    }

    &__price--left {
        position: relative;
        right: 0px;
        transition: all 500ms;
    }

    &__validate {
        font-family: "FontAwesome";
        width: 0px;
        height: 100%;
        background-color: $third-color;
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0px 15px 15px 0px;
        transition: all 500ms;
    }

    &__validate::before {
        content: "\f00c";
        opacity: 0;
        color: $third-color;
        background-color: white;
        padding: 1px 3px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 500ms;
    }

    @media (min-width: 768px) {
        justify-content: center;
        gap: 30px;

        &__cards {
            padding-left: 100px;
            padding-right: 100px;
        }
    }
}

@keyframes view-1 {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes view-2 {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes view-3 {
    0% {
        transform: scaleY(0);
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        transform: scaleY(1);
    }
}

/*hero-header*/

.hero-header {

    &__btnContent {
        display: flex;
        justify-content: center;
    }

    &__btn {
        @include button;
    }
}

/*footer*/
.footer {
    background-color: $footer-color;
    padding: 15px 10px 15px 25px;

    &__logo {
        width: 40%;
        color: white;
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    &__links {
        margin: 0;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__link {
        text-decoration: none;
        color: white;

    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        font-size: 12px;

        &__logo {
            width: 20%;
            margin-left: 60px;
        }

        &__links {
            flex-direction: row;
        }

        &__space {
            margin-left: 20px;
        }
    }
}

.fa-utensils,
.fa-handshake {
    margin-right: 10px;
}