@import "../utils/variables.scss";
@import "../utils/mixins.scss";

body {
    min-width: 320px;
    margin: 0;
    font-family: "roboto", sans-serif;
}

.header {
    text-align: center;

    &__content {
        padding: 10px;
        margin-bottom: 5px;
        box-shadow: 0px 5px 5px lightgray;

        @media (min-width: 768px) {
           box-shadow: none;
           padding: 15px;
           margin-bottom: 0;
        }
    }

    &__content--background {
        background-color: $light-grey;
    }

    &__logo {
        width: 150px;
        margin-top: 10px;
    }

    &__form {
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    &__input {
        width: 100px;
        border: none;
        background-color: $light-grey;
        text-align: center;
    }
}

/*hero-header*/

.hero-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    text-align: center;

    &__title {
       font-size: 40px;
    }

    &__btnContent {
        display: flex;
        justify-content: center;
        margin: 20px;
    }

    &__btn {
        @include button;
    }
}

/*fonctionnements*/

.choice {
    margin: 40px 20px 60px 20px;

    &__btn {
        height: 60px;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: whitesmoke;
        border-radius: 15px;
        box-shadow: 0px 5px 5px lightgray;
    }

    &__btn--left {
        display: flex;
        align-items: center;
        gap: 15px;
        position: relative;
        right: 10px;
    }

    &__btnTitle {
        margin: 0;
        font-size: 13px;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        padding: 20px 130px;
        margin: 0;

        &__btns {
            display: flex;
            gap: 50px;
        }

        &__btn {
            width: 100%;
        }
    }
}

.fa-1,
.fa-2,
.fa-3 {
    background-color: $main-color;
    color: white;
    border-radius: 50%;
    padding: 6px 8px;
    font-size: 10px;
}

.fa-mobile-screen-button,
.fa-list {
    color: gray;
}

.fa-store {
    color: $main-color;
}

/*restaurants*/

.restaurants {
    padding: 30px 20px 50px 20px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__sectionTitle {
        margin-bottom: 0;
        margin-bottom: 10px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    &__card {
        background-color: white;
        border-radius: 20px 20px 20px 20px;
        position: relative;
    }

    &__image {
        width: 100%;
        height: 150px;
        object-fit: cover;
        object-position: 100% 60%;
        border-radius: 20px 20px 0px 0px;
    }

    &__new {
        width: 20%;
        height: 8px;
        font-size: 13px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $third-color;
        color: green;
        position: absolute;
        left: 70%;
        padding: 10px;

    }

    &__content {
        height: 50px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 0px 10px;
        border-radius: 0px 0px 20px 20px;
    }

    &__title {
        margin: 0;
        font-size: 16px;
    }

    &__town {
        margin: 0;
        font-size: 14px;
    }

    @media (min-width: 768px) {
        padding: 0px 130px 50px 130px;
        background-color: whitesmoke;

        &__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            row-gap: 40px;
            column-gap: 80px;
        }
    }
}

.restaurants a {
    text-decoration: none;
    color: black;
}

.fa-heart {
    font-size: 20px;
}

.fa-solid.fa-heart {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient($main-color, $second-color);
}

/*footer*/

.footer {
    background-color: $footer-color;
    padding: 15px 10px 15px 25px;

    &__logo {
        width: 40%;
        color: white;
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    &__links {
        margin: 0;
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__link {
        text-decoration: none;
        color: white;
    }

    @media (min-width: 768px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
        font-size: 12px;

        &__logo {
            width: 20%;
            margin-left: 60px;
        }

        &__links {
            flex-direction: row;
        }

        &__space {
            margin-left: 20px;
        }
    }
}

.fa-utensils,
.fa-handshake {
    margin-right: 10px;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    padding-top: 300px;
    animation: opacity 3s;
    animation-fill-mode: forwards;

    &__title {
        font-family: "Shrikhand", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        color: $second-color;
        animation: color 3s;
        animation-fill-mode: forwards;

        @media (min-width: 768px)
        {
            font-size: 80px;
        }
    }
}

@keyframes color {
    0% {
        color: $second-color;
    }

    20% {
        color: $main-color;
    }

    40% {
        color: $second-color;
    }

    60% {
        color: $main-color;
    }

    80% {
        color: $second-color;
        opacity: 1;
    }

    100% {
        color: $main-color;
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    99% {
        z-index: 1;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}